/* Import Ant Design styles */
@import "antd/dist/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styling */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f0f2f5; /* Light gray background typical for dashboards */
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
